---
import type { GetStaticPaths } from "astro";
import ListLayout from "@/layouts/list.astro";
import { SITE } from "@/lib/config";
import Pagination from "@/components/shared/pagination.astro";
import { getAllPosts } from "@/lib/fetchPosts";
import WideCard from "@/components/cards/wideCard.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const articles = await getAllPosts();
  return paginate(articles, { pageSize: SITE.postsPerPage });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const articles = page.data;
---

<ListLayout header="All Articles">
  <section class="flex-1">
    <ul class="flex flex-col gap-4">
      {articles.map((article, index) => (
        <WideCard
          article={article}
          isLast={index === articles.length - 1}
        />
      ))}
    </ul>
  </section>
  <Pagination
    length={page.lastPage}
    currentUrl={page.url.current}
    currentPage={page.currentPage}
    baseUrl="/articles"
    prevUrl={page.url.prev}
    nextUrl={page.url.next}
    lastUrl={`/articles/${page.lastPage}`}
  />
</ListLayout>