---
import Divider from "@/components/bases/divider.astro";
import { getDateDistance, normalizeDate } from "@/lib/utils/date";
const { article } = Astro.props;

const coverImage = article.image?.url;
const coverAlt   = article?.image?.alt || article?.title || 'Post image';
const title = article.title;
const description = article.description || "No description available";
const category = article.categories?.[0]?.title || "Uncategorized";
const slug = article.slug?.current || "missing-slug";
const publishedTime = article?.publishedAt ?? "2023-01-01T00:00:00Z";


---

<article class="group relative isolate flex flex-col-reverse md:flex-col gap-4">
  <div class="aspect-video overflow-hidden rounded-md">
    {coverImage ? (
      <img
        src={coverImage}
        alt={coverAlt}
        class="w-full h-full object-cover"
        loading="eager"
      />
    ) : (
     <div class="w-full h-full flex bg-gray-100 items-center justify-center text-xs text-gray-500">
          {coverAlt}
        </div>)
      
    }
  </div>

  <div class="flex flex-col gap-2">
    <div>
      <h2 class="text-xl font-semibold lg:group-hover:underline underline-offset-2">
        <a href={`/articles/${article.slug.current}`}>
          <span class="absolute inset-0 z-10"></span>
          {title}
        </a>
      </h2>
      <p class="text-base-content/90 text-base max-w-lg">
        {description}
      </p>
    </div>
    <time
        class="flex items-center gap-1"
        datetime={normalizeDate(publishedTime)}
      >
        <span>
          {getDateDistance(normalizeDate(publishedTime))}
        </span>
      </time>
  </div>
</article>