---
import Divider from "@/components/bases/divider.astro";
import { getDateDistance, normalizeDate } from "@/lib/utils/date";
const { article, isFirst, isLast } = Astro.props;


const title = article.title;
const description = article.description || "No description available";
const slug = article.slug?.current || "#";
const imageUrl = article.image?.url;
const altText = article.image?.alt || title;


const category = article.categories?.[0]?.title || "Uncategorized";
const publishedTime = article?.publishedAt ?? "2023-01-01T00:00:00Z";
---

<article
  class:list={[
    "group py-2 flex items-stretch gap-2 group relative isolate",
    isFirst ? "pt-0" : "pt-2",
    isLast ? "border-b-0 pb-0" : "border-b border-base-300",
  ]}
>
  <div class="flex flex-col flex-1">
    <div class="flex items-center gap-2 mb-1">
      <div class="flex-1">
        <h3 class="text-base lg:group-hover:underline mb-1">
          <a href={`/articles/${article.slug.current}`}>
            <span class="absolute inset-0 z-10 pointer-events-none"></span>
            {title}
          </a>
        </h3>
        <p class="text-sm text-base-content/80 text-balance md:line-clamp-2 lg:line-clamp-3">
          {description}
        </p>
         <time
        class="flex items-center gap-1"
        datetime={normalizeDate(publishedTime)}
      >
        <span>
          {getDateDistance(normalizeDate(publishedTime))}
        </span>
      </time>
      </div>
    </div>
    
  </div>

  <div class="overflow-hidden w-[165px] h-[125px] md:w-[120px] md:h-full shrink-0">
    {imageUrl ? (
      <img
        src={imageUrl}
        alt={altText}
        loading="eager"
        class="object-cover rounded w-full h-full"
      />
    ) : (
      <div class="w-full h-full bg-gray-100 flex items-center justify-center text-xs text-gray-500">
        No image
      </div>
    )}
    
  </div>
</article>
