---
import { Image } from "astro:assets";
import { getDateDistance, normalizeDate } from "@/lib/utils/date";
import Divider from "../bases/divider.astro";

type Props = {
  article: any; 
  isLast: boolean;
};

const { article, isLast } = Astro.props;
console.log(article);
const publishedTime = article?.publishedAt ?? "2023-01-01T00:00:00Z";
---

<li
  class="group w-full max-w-md mx-auto lg:max-w-full relative isolate flex flex-col lg:flex-row gap-4"
>
  <div
    class="flex-shrink-0 aspect-square w-32 text-sm text-base-content/60 text-pretty capitalize hidden lg:flex pt-1"
  >
    {getDateDistance(normalizeDate(publishedTime))}
  </div>
  <div
    class:list={[
      "flex-1 flex flex-col gap-4 lg:flex-row-reverse pb-2 lg:pb-4",
      isLast ? "border-b-0" : "border-b border-base-300",
    ]}
  >
    <div class="w-full lg:w-60 aspect-video">
      {article.image ? (
        <img
          src={article.image?.url}
          alt={article.title}
          loading="eager"
          class="aspect-video rounded w-full h-full object-cover"
        />
      ) : (
        <div class="aspect-video rounded w-full h-full bg-gray-200 flex items-center justify-center text-gray-500">
          No image
        </div>
      )}
    </div>
    <div class="flex-1 space-y-2">
      <h3 class="text-xl font-semibold lg:group-hover:underline">
        <a href={`/articles/${article.slug?.current ?? "missing-slug"}`}>
          <span class="absolute inset-0 z-10"></span>
          {article.title}
        </a>
      </h3>
      <p class="text-base-content/80 max-w-xl text-pretty">
        {article.description}
      </p>
    </div>
    <div class="text-sm lg:hidden flex item-center text-base-content/70 pt-2">
      <time
        class="flex items-center gap-1"
        datetime={normalizeDate(publishedTime)}
      >
        <span>
          {getDateDistance(normalizeDate(publishedTime))}
        </span>
      </time>
      <Divider />
      <small class="flex items-center gap-1">
        <span class="capitalize text-sm">
          {/* You can add category info here if needed */}
        </span>
      </small>
    </div>
  </div>
</li>